.titleBox {
    display: grid;
    width: 100%;
}

.titleText {
    align-self: center;
    justify-self: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 4rem;
}

#gameArea{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    
}

.gameboards {
    display: grid;
    grid-template-columns: repeat(10, 40px);
    width: 400px;
    border: 2px solid black;
    justify-self: center;
}
.row {
    display: grid;
    grid-template-rows: repeat(10, 40px);
}
.userSquare, .compSquare {
    border: 2px solid black;
}

.shipSquare {
    background-color: rgb(251, 160, 160);
}
.hit {
    background-color: red;
    border: 2px solid black;
}
.miss {
    background-color: blue;
    border: 2px solid black;
}

#playAgainBox {
    position: absolute;
    display: grid;
    grid-template-rows: 2fr 1fr;
    width: 33%;
    left: 33%;
    height: 33%;
    top:33%;
    background-color: aquamarine;
    color: black;
    border: 2px solid black;
    align-content: center;
}

#playAgainText {
    justify-self: center;
    align-self: center;
}

#playAgainButtonBox {
    display: grid;
    grid-template-columns: 1fr;
    justify-self: center;
    align-self: center;
    align-content: center;
}

.playAgainButton {
    width: 8rem;
    height: 2rem;
    background-color: black;
    color: white;
    border-radius: 8px;
    border: none;
}